// FONT
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200;300;400;600;700;900&display=swap");

@import "./mixin";
@import "./variabel";

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif !important;
}

.Container {
  background: $primaryColor;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .Content {
    position: relative;
    overflow: hidden;
    width: 600px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-areas: "image form";
    gap: 50px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 20px rgba($color: white, $alpha: 0.2);

    @media (max-width: 600px) {
      width: 450px;
      grid-template-areas:
        "image"
        "form";
      justify-content: center;
      grid-template-columns: 0.9fr;
    }

    &:after {
      @include afterELement($secondaryColor, true, 100px, 100px);
    }

    &:before {
      content: "";
      background: $primaryColor;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: absolute;
      top: 20px;
      left: 80px;
      z-index: 1;
    }

    .imgThumbnail {
      grid-area: image;
      margin: auto;

      img {
        width: 100%;
      }
      @media (max-width: 600px) {
        display: none;
      }
      @media (max-width: 600px) {
        display: none;
      }
    }

    .form {
      grid-area: form;

      .header {
        text-align: center;
        margin-bottom: 30px;

        @media (max-width: 600px) {
          margin-top: -40px;
        }

        .title {
          font-size: 30px;
          color: $primaryColor;
          font-family: "Bebas Neue", cursive;

          &:after {
            @include afterELement($primaryColor, false, 40px, 3px);
          }
        }

        p {
          margin: 5px;
        }
      }

      .success {
        margin: auto;
        border: 1px solid rgb(0, 112, 0);
        width: 90%;
        padding: 6px;
        border-radius: 20px;

        p {
          text-align: center;
          color: rgb(0, 112, 0);
          font-weight: 600;
        }
      }

      form {
        .formGroup {
          margin: 15px;
          display: flex;
          flex-direction: column;

          label {
            font-size: 15px;
            margin-left: 5px;
            font-weight: 600;
          }

          .danger {
            border: 1px solid red;

            &:focus {
              border: 1px solid red;
              box-shadow: 0 0 2px 1px red;
            }
          }
          input {
            @include formElement(12px, grey, grey);
            margin-top: 8px;

            &:focus {
              border: 1px solid $secondaryColor;
              box-shadow: 0 0 2px 1px $secondaryColor;
            }
          }

          small {
            padding-top: 5px;
            padding-left: 5px;
            font-size: 12px;
            color: red;
            font-weight: 600;
          }
        }

        .button {
          float: right;

          .loading {
            cursor: not-allowed;
            &:focus {
              box-shadow: none;
            }

            &:hover {
              color: white;
              background: lighten($secondaryColor, 5%);
            }
          }

          button {
            @media (max-width: 600px) {
              width: 120px;
            }

            @include formElement(20px, white, $secondaryColor);
            font-family: "Nunito", sans-serif;
            margin-right: 15px;
            background: $secondaryColor;
            font-weight: bold;
            cursor: pointer;

            &:hover {
              color: $secondaryColor;
              background: transparent;
            }

            &:focus {
              box-shadow: 0 0 5px 1px $secondaryColor;
            }
          }
        }
      }

      .hrefLogin {
        text-align: center;
        font-size: 14px;
        margin-top: 70px;

        a {
          margin-left: 4px;
          text-decoration: none;
          color: $secondaryColor;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover {
            color: lighten($secondaryColor, 10%);
          }
        }
      }
    }
  }
}
